
@font-face {
  font-family: myFirstFont;
  src: url('../resources/ARCADECLASSIC.TTF')
}

* {
  box-sizing: border-box;
  font-family: 'myFirstFont';
}

body {
    padding: 0;
    text-align: center;
    background-color:rgb(16, 151, 230);
    margin: 80px;
  }

  .board {
    width: 700px;
    height: 500px; 
    text-align: center;
    position: relative;
    margin: auto;
    
  }

  #canvas-intro {
    background: url("../images/intro/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #logo-sky-game {
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;

  }

  .slides {
    width: 700px;
    height: 500px;
    position: absolute;
    
    
  }

  #instructions {
    position: absolute;
    top: 0;
    left: 0;
  }

  #ranking-div {
    position: absolute;
    top: 110px;
    left: 0;
    
    
  }


  #ranking {
    position: relative;
    width: 500px;
    background:linear-gradient(#f50202, #f3a108);
    background-position: center;
    height: 300px;
    color: white;
    font-size: 20px; 
    border-radius: 15px;
    margin:0 auto;
    
    
  }

  #close-ranking {
    position: absolute;
    right: 110px;
    top: 10px;
    z-index: 999;
    cursor: pointer;
    
  }

  #img-instructions {
    position: relative;
    width: 703px;
    height: 503px;
    
  }


  #close-instructions {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    cursor: pointer;
  }


  button {
    font-size: 20px;
    background: linear-gradient(#02090f, #3e5770);
    color: #fff;
    padding: 10px 30px;
    border: 0;
    box-shadow: 5;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
   
  }

  

  #canvas {
    display: none;
    position: relative;
    
  }

  #game-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background-color:crimson;
    border-radius: 25px;
    width: 240px;
    margin:0 auto;
    padding: 7px;
    margin-top: 12px;
  }


  #game-instructions,
  #start-button,
  #game-scores {
    
    position: relative;
    cursor: pointer;
    font-size: 28px;
    
  }


  #game-instructions {

    position: relative;
    cursor: pointer;
    font-size: 28px;
   
    
  }

  h1,h2,h3 {
    color: white;
  }

  h2:hover {
    color: black;
  }

 #div-game-over {
  position: absolute;
  top: 0;
  left: 0;
  
  
 }

 #div-game-over h1{
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: 0px;
  color:gray;
 }

.try-again{
   font-size: 28px;
   color:rgb(233, 200, 13);
   cursor: pointer;
   margin: 0 auto;
 }
 

 #you-win {
   background-color: black;
 }

 #you-win h1{
  color: white;
  font-size: 80px;
  margin-top: -50px;

}

#name-input {
  width: 190px;
  margin: 0 auto;
  margin-top: 0px;
  border-radius: 10px;
  border: navajowhite;
  padding: 2px 10px;
  font-size: 20px;
  color: darkgray;
  height: 40px;
  margin-top: 10px;
  text-align: center;
}